<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <title>Index</title>
</head>
<body>
  <%- include('_header.ejs') %> 
  <div class="container">
    <%- include('_display.ejs') %> 
  </div>
  <a href="/new">Post new article</a>
</body>
</html>