<form class="form" action="/" method="POST">
  <input type="text" name="title" placeholder="Title">
  <textarea name="content" cols="30" rows="10" placeholder=""></textarea>
  <button type="submit"></button>
</form>