<header>
  <ul>
    <a href="">
      <li>Religion</li>
    </a>
    <a href="">
      <li>Philosophy</li>
    </a>
    <a href="">
      <li>Politics</li>
    </a>
    <a href="">
      <li>Science</li>
    </a>
  </ul>
</header>