<header>
  <ul>
    <li><a href="/religion">Religion</a></li>
    <li><a href="/philosophy">Philosophy</a></li>
    <li><a href="/politics">Politics</a></li>
    <li><a href="/science">Science</a></li>
  </ul>
</header>